/* Default background and font style for the body */
body {
	background-color: rgba(128, 255, 255, 0.2);
	font-family: Verdana, Arial, sans-serif; /* I really like Verdana. */
}

/* Make sure each column of each table has padding. */
td {
	padding: 10px;
}

/* Increase the size of buttons. */
button {
	font-size: 1.5em;
	font-variant: small-caps;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border-style: outset;
	border-color: black;
}

/* Zebra Icon */
.lefticon {
	max-height: 100%;
	width: auto;
	float: left;
	padding-left: 5%;
}

/* Header for title information */
.header {
	padding: 30px 0px 30px 0px;
	text-align: center;
	background-color: rgb(0, 150, 150);
	background-image: url(zebra2.png), url(zebra.png), url(circuit.jpg);
	background-position: 2%, 98%, right;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: auto 80%, auto 80%, cover;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 160px;
	z-index: 2;
}

/* Increase the boldness of the title text */
.header h1 {
	text-shadow: 3px 3px 5px black;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 4em;
}

/* Navbar for navigating different pages within the site */
.navbar {
	display: flex;
	background-color: black;
	justify-content: center;
	width: 100%;
	position: fixed;
	top: 220px;
	left: 0px;
	z-index: 2;
}

/* Style for individual links */
.navbar a {
	text-align: center;
	color: white;
	padding: 14px 4vw;
}

/* Highlight a link when hovered over */
.navbar a:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 130, 130);
}

/* The main content, divided into columns */
.row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 255px;
	width: 100%;
	position: absolute;
	left: 0px;
	z-index: 1;
}

/* The sidebar */
.side {
	flex: 20%;
	background-color: rgb(0, 0, 128);
	color: white;
	padding-bottom: 60px;
	font-size:1.2em;
}

/* Change the link color in the sidebar, given its darker color. */
.side a {
	color: #00FFFF;
}

.side h3 {
	font-variant:small-caps; 
	font-size:1.5em; 
	text-shadow:3px 3px 5px black;
}

/* Alter the properties of the headers in the sidebar. */
.subtitle {
	margin-bottom: 0px;
	margin-left: 10px;
}
.subtext {
	margin-top: 0px;
	margin-left: 10px;
}

/* The main content */
.main {
	flex: 80%;
	padding-bottom: 70px;
}

/* Make h3 stand out within main */
.main h3 {
	font-variant: small-caps;
}

/* Text in the row container */
.text {
	margin-left: 10px;
}

/* Footer */
#footer {
	padding: 1px;
	text-align: center;
	font-size: 0.8em;
	background-color: rgb(210, 210, 210);
	z-index: 2;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

/* linkImage is the image that links to different social platforms */
.linkImage {
	background-color:white; 
	width:60%; 
	height:auto; 
	box-shadow: 5px 5px 10px 10px rgba(255,255,255,0.2); 
	border: 1px solid #000000;
}

.bio {
	font-size: 1.2em;
	line-height: 1.3;
}





/* Setting up the resume table */
.resume {
	border: 1px solid black;
	background-color: white;
	margin-left: 10px;
}


.cvHeader {
	line-height: 2;
	font-size: 1.2em;
}

.cvSectionTitle {
	margin-left: 10px;
	margin-bottom: 0px;
	font-size: 1.6em;
	color: #004090;
}

.cvTable {
	margin-left: 10px;
}

.cvText {
	margin-left: 10px;
	font-size: 1.2em;
	line-height: 1.3;
}

.cvImage {
	border-radius:100%;
	width:50%; 
	height:50%
}

.cvLeftColumn {
	width:30%; 
	vertical-align:top; 
	text-align:center; 
	padding-top:50px;
}

.cvRightColumn {
	width: 70%
}


/* Adapt the layout at a screen width of 900 pixels */
@media (max-width: 900px) {
	.row {
		flex-direction: column;
		font-size: 0.8em;
		margin-top: 170px;
	}
	
	.navbar {
		font-size: 0.8em;
		top: 140px;
	}
	
	.navbar a {
		padding: 14px 2vw;
	}
	
	.linkImage {
		background-color:white; 
		width:20%; 
		height:auto; 
		box-shadow: 5px 5px 10px 10px rgba(255,255,255,0.2); 
		border: 1px solid #000000;
	}
	
	.header {
		height: 80px;
		background-position: 2%, 98%, center;
		background-size: auto 80%, auto 80%, cover;
	}
	
	.header h1 {
		text-shadow: 3px 3px 5px black;
		font-weight: bold;
		font-variant: small-caps;
		font-size: 2em;
	}
	
	.bioImage {
	    min-width: 100px;
	    width:100px;
	    height:auto;
    }
	
	.cvImage {
		display: none;
	}
	
	.cvLeftColumn {
		width: 0%;
	}
	
	.cvRightColumn {
		width: 100%;
	}
}
